/* workout-form.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

/* Other CSS styles */

body {
  font-family: Arial, sans-serif;
  background-color:rgb(33, 42, 62) ;;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  background-color:rgb(193, 208, 181);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 20px;
  color: rgb(33, 42, 62);

  margin-bottom: 5px;
}

input,
textarea,
select {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  outline: none;
}

.button {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgb(33, 42, 62);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #5C6BC0;
}

.workout-plan-container {
  margin-top: 40px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(33, 42, 62) ;
  
}

.workout-plan-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(193, 208, 181);
}

.workout-card {
  background-color: rgb(193, 208, 181);;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 500px;
  font-size:20px; /* Adjust the font size as per your preference */
  line-height:2;
  max-width: 100%; /* Added */
  width: 100%; /* Added */
}

@media screen and (min-width: 768px) {
  .workout-card {
    max-width: 800px; /* Adjust the max-width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .workout-card {
    max-width: 1200px; /* Adjust the max-width as needed */
  }
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color:rgb(193, 208, 181);
  color: black;
  z-index: 999;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar .logo {
  margin-right: auto; /* Pushes the logo to the left */
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 10px;
  margin-right: 20px;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color:  rgb(4, 24, 44);
  font-weight: bold;
}

.navbar a:hover {
  color: #555;
}

.home-container {
  text-align: left;
  padding: 20px;
  line-height: 1.5;
  padding: 20px;
 background-color:  rgb(33, 42, 62) ;
  position: absolute;
  top: 70px; /* Adjust this value to match the height of your navbar */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; /* Add scroll if content exceeds container height */
  color: white;
}

 
.home-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #303F9F;
}

.home-text {
  font-size: 20px;
  margin-bottom: 40px;
 
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color:rgb(4, 24, 44);
  background-color:rgb(193, 208, 181);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #5C6BC0;
}

.footer {
  position: fixed;
  background-color:rgb(193, 208, 181);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  color : rgb(4, 24, 44);
  
}
.contact-header {
  color: rgb(193, 208, 181);
}
.contact-form {
  color :rgb(193, 208, 181);
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  text-align: center;
}

.spinner-container-p {
  margin-top: 200px; 
  color:white;
  font-size:30px;
}

.workout-exercises {
  margin-left: 20px;
}

.workout-exercises > div {
  margin-bottom: 8px;
  color: white;
}
